BackEndIoT.json
[{"id":"f0ec3eea.b8861","type":"inject","z":"5c485206.6469dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"DewPoint","payload":"276.15","payloadType":"json","x":610,"y":940,"wires":[["bf96df52.a7919","2a5711a8.bd134e","4274efa3.4ff33"]]},{"id":"bf96df52.a7919","type":"http request","z":"5c485206.6469dc","d":true,"name":"Nancy Current Weather","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/onecall?lat=48.6921&lon=6.1844&exclude=minutely,hourly,daily,alerts&appid=d29cf00e71d6571d2a839864a3e36ab1","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":880,"wires":[["5b7964a9.00c2ac"]]},{"id":"5b7964a9.00c2ac","type":"json","z":"5c485206.6469dc","d":true,"name":"","property":"payload","action":"","pretty":false,"x":210,"y":820,"wires":[["7b6807c0.bc0718"]]},{"id":"7b6807c0.bc0718","type":"function","z":"5c485206.6469dc","d":true,"name":"DewPoint","func":"msg.payload = {\"DewPoint\":msg.payload.current.dew_point}\nmsg.topic = \"DewPoint\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":820,"wires":[[]]},{"id":"c79cb796.34ad78","type":"inject","z":"5c485206.6469dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":530,"y":1100,"wires":[["77719a9e.2f9374"]]},{"id":"77719a9e.2f9374","type":"function","z":"5c485206.6469dc","name":"CO2Level","func":"var CO2;\nvar Rand = Math.floor(Math.random() * 101);\n\nif (Rand <= 10) {\n  CO2 = Math.floor(Math.random() * 400);\n}\nelse if (Rand > 10 && Rand <= 11) {\n  CO2 = Math.floor(Math.random() * 3999)+1001;\n}\nelse if (Rand > 11 && Rand <= 50) {\n  CO2 = Math.floor(Math.random() * 199)+400;\n}\nelse if (Rand > 50 && Rand <= 100) {\n  CO2 = Math.floor(Math.random() * 401)+600;\n}\n\nmsg.payload = CO2;\nmsg.topic = \"co2\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1100,"wires":[["1a72eb84.bdbf34","636817f9.6d0598","bcf27527.62d938","aa411a80.6bf8c8"]]},{"id":"6ec6b9ad.0e59e8","type":"function","z":"5c485206.6469dc","name":"","func":"//msg.payload = {\"temp\": Math.floor(Math.random()*36)};\nvar tmp0 = parseInt(msg.payload, 10);\nmsg.payload = tmp0;\n\nmsg.topic = \"temp\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1000,"wires":[["1a72eb84.bdbf34"]]},{"id":"e7659606.1c5888","type":"mqtt in","z":"5c485206.6469dc","name":"","topic":"light","qos":"2","datatype":"auto","broker":"18831a36.bb1e76","x":550,"y":1180,"wires":[["fd02c86c.86e1b8"]]},{"id":"337957e.b7d5da8","type":"mqtt in","z":"5c485206.6469dc","name":"","topic":"temp","qos":"2","datatype":"auto","broker":"18831a36.bb1e76","x":330,"y":1000,"wires":[["6ec6b9ad.0e59e8","873d0d07.9bc2d"]]},{"id":"6752cc8.55ea434","type":"function","z":"5c485206.6469dc","name":"Sound","func":"var sound;\nvar soundRand = Math.floor(Math.random() * 101);\n\nif (soundRand <= 2) {\n  sound = Math.floor(Math.random() * 41)+90;\n}\nelse if (soundRand > 2 && soundRand <= 10) {\n  sound = Math.floor(Math.random() * 11)+80;\n}\nelse if (soundRand > 10 && soundRand <= 100) {\n  sound= Math.floor(Math.random() * 80);\n}\n\nmsg.payload = sound;\nmsg.topic = \"sound\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":1260,"wires":[["1a72eb84.bdbf34","636817f9.6d0598","7b74a63d.28dbe8"]]},{"id":"1a72eb84.bdbf34","type":"join","z":"5c485206.6469dc","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"70","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1650,"y":1120,"wires":[["28762b3d.b98604"]]},{"id":"fd02c86c.86e1b8","type":"function","z":"5c485206.6469dc","name":"","func":"var parsed = parseInt(msg.payload, 10);\nmsg.payload = parsed;\nmsg.topic = \"light\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1180,"wires":[["1a72eb84.bdbf34","636817f9.6d0598","861f776a.fe92f8"]]},{"id":"28762b3d.b98604","type":"debug","z":"5c485206.6469dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1810,"y":1120,"wires":[]},{"id":"2bf8b84a.ee3aa8","type":"inject","z":"5c485206.6469dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":590,"y":1260,"wires":[["6752cc8.55ea434"]]},{"id":"ea124774.b702e8","type":"inject","z":"5c485206.6469dc","d":true,"name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"time\": \"\" ,\"temp\":\"33\",\"light\":\"on\",\"noise\":\"100\"}","payloadType":"json","x":1830,"y":1240,"wires":[["ab11ce0c.6b594","a0972cca.5191c"]]},{"id":"c7dca5e0.8e26c8","type":"mongodb2 in","z":"5c485206.6469dc","service":"_ext_","configNode":"44fc0d6f.e1e8f4","name":"insertOne","collection":"sensor1","operation":"insertOne","x":2160,"y":1240,"wires":[["3cd3a5d5.9dcafa"]]},{"id":"3cd3a5d5.9dcafa","type":"debug","z":"5c485206.6469dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2350,"y":1240,"wires":[]},{"id":"ab11ce0c.6b594","type":"function","z":"5c485206.6469dc","name":"","func":"msg.payload.time=Date();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2000,"y":1240,"wires":[["c7dca5e0.8e26c8"]]},{"id":"a0972cca.5191c","type":"debug","z":"5c485206.6469dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2010,"y":1180,"wires":[]},{"id":"176ee7da.fdb048","type":"inject","z":"5c485206.6469dc","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"DewPoint","payload":"{\"DewPoint\": 270.372}","payloadType":"json","x":500,"y":720,"wires":[[]]},{"id":"eeca3fa3.13e88","type":"function","z":"5c485206.6469dc","name":"Humidex","func":"var parsed = parseInt(msg.payload.Temp, 10);\nvar eplus = 6.11 * Math.exp([5417.7530 * ((1/273.16) - (1/msg.payload.DewPoint))])\nvar hplus = (0.5555)*(eplus - 10.0)\nvar humidex = (parsed) + hplus\n\nmsg.payload = humidex;\nmsg.topic = \"humidex\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":860,"wires":[["c4d55ccb.39cc9","1a72eb84.bdbf34","636817f9.6d0598"]]},{"id":"2a5711a8.bd134e","type":"join","z":"5c485206.6469dc","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"65","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":950,"y":860,"wires":[["eeca3fa3.13e88"]]},{"id":"c0792c5e.9177c","type":"ui_gauge","z":"5c485206.6469dc","name":"HumidexValue","group":"973e8475.1585d8","order":1,"width":0,"height":0,"gtype":"gage","title":"HumidexValue","label":"units","format":"{{value}}","min":0,"max":"54","colors":["#00b500","#e6e600","#ca3838"],"seg1":"29","seg2":"39","x":1620,"y":860,"wires":[]},{"id":"c4d55ccb.39cc9","type":"function","z":"5c485206.6469dc","name":"","func":"var humidexfloat = msg.payload;\nvar humidexint;\n\nhumidexint = Math.floor(humidexfloat);\nmsg.payload = humidexint;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":860,"wires":[["c0792c5e.9177c"]]},{"id":"873d0d07.9bc2d","type":"function","z":"5c485206.6469dc","name":"","func":"//msg.payload = {\"temp\": Math.floor(Math.random()*36)};\nvar tmp0 = msg.payload;\nmsg.payload = tmp0;\nmsg.topic = \"Temp\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":780,"wires":[["2a5711a8.bd134e","f11cbed5.3bf09"]]},{"id":"1cb778bf.a159c7","type":"ui_text","z":"5c485206.6469dc","group":"973e8475.1585d8","order":2,"width":0,"height":0,"name":"RoomTemp","label":"Room Temperature","format":"{{msg.payload}}","layout":"row-spread","x":1610,"y":780,"wires":[]},{"id":"f11cbed5.3bf09","type":"function","z":"5c485206.6469dc","name":"","func":"var tmp = msg.payload;\nmsg.payload = tmp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":780,"wires":[["1cb778bf.a159c7"]]},{"id":"636817f9.6d0598","type":"join","z":"5c485206.6469dc","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"65","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1310,"y":1440,"wires":[["6c84f4fd.00e14c"]]},{"id":"6c84f4fd.00e14c","type":"function","z":"5c485206.6469dc","name":"RoomCoz","func":"var roomCoz = (msg.payload[\"humidex\"]*0.382)+(0.176/(msg.payload[\"co2\"]+1))+(0.61/msg.payload[\"light\"])+(msg.payload[\"sound\"]*0.382);\nmsg.payload = roomCoz;\nmsg.topic = \"coziness\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":1440,"wires":[["8ca47d24.69179","1a72eb84.bdbf34"]]},{"id":"8ca47d24.69179","type":"debug","z":"5c485206.6469dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1690,"y":1440,"wires":[]},{"id":"35f0202e.04785","type":"ui_text","z":"5c485206.6469dc","group":"973e8475.1585d8","order":2,"width":0,"height":0,"name":"DewPointValue","label":"Current Dew Point","format":"{{msg.payload}}","layout":"row-spread","x":1620,"y":920,"wires":[]},{"id":"bcf27527.62d938","type":"ui_gauge","z":"5c485206.6469dc","d":true,"name":"IDAGauge","group":"eacb1816.caf9f8","order":4,"width":0,"height":0,"gtype":"gage","title":"CO2 Level (ppm)","label":"units","format":"{{value}}","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"600","seg2":"1000","x":1810,"y":940,"wires":[]},{"id":"861f776a.fe92f8","type":"ui_gauge","z":"5c485206.6469dc","name":"lightValue","group":"2f508f00.d381","order":1,"width":"6","height":"4","gtype":"compass","title":"Light Value","label":"units","format":"{{value}}","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1600,"y":1000,"wires":[]},{"id":"7b74a63d.28dbe8","type":"ui_gauge","z":"5c485206.6469dc","name":"soundValue","group":"14b087eb.99afd8","order":1,"width":0,"height":0,"gtype":"gage","title":"Sound Value","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":1610,"y":1060,"wires":[]},{"id":"e339cbb3.c66f88","type":"ui_worldmap","z":"5c485206.6469dc","group":"3e5b6beb.c8fb74","order":0,"width":"12","height":"8","name":"","lat":"48.66381222501177","lon":"6.156917853941684","zoom":"18","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":1600,"y":720,"wires":[]},{"id":"d0607801.536078","type":"inject","z":"5c485206.6469dc","name":"GPS Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1420,"y":720,"wires":[["e339cbb3.c66f88"]]},{"id":"85965edc.72971","type":"ui_template","z":"5c485206.6469dc","group":"2a745e6b.07df92","name":"Dashboard Theme : Modern Dark","order":2,"width":0,"height":0,"format":"<div>\n    <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        body {\n            --background: #212529;\n            --on-background: white;\n            --surface: #2d3136;\n            --on-surface: white;\n            --primary: var(--nr-dashboard-widgetColor);\n            --on-primary: white;\n            --secondary: var(--nr-dashboard-groupTextColor);\n            --accent: red;\n            --radius-s: 8px;\n            --font-weight-m: 300;\n            --font-weight-m: 500;\n            --font-weight-l: 700;\n            --space-s: 8px;\n            --space-m: 16px;\n            --space-l: 32px;\n        }\n\n        body.nr-dashboard-theme {\n            background-color: var(--background);\n            font-family: 'Montserrat', sans-serif;\n        }\n        .nr-dashboard-theme ui-card-panel {\n            background-color: var(--background);\n            border: 0;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button {\n            background-color: var(--primary);\n            border-radius: var(--radius-s);\n            padding: 8px !important;\n            line-height: inherit;\n            font-weight: var(--font-weight-l);\n            color: var(--on-primary);\n        }\n        .nr-dashboard-theme [ui-card-size=\"2x2\"].nr-dashboard-button .md-button {\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n            align-items: center;\n            white-space: pre-line;\n        }\n        \n        .nr-dashboard-theme .nr-dashboard-button .md-button ui-icon {\n                margin-bottom: 8px;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n            background-color: var(--secondary);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            background-color: var(--surface);\n        }\n        md-card.md-default-theme, md-card {\n            border-radius: var(--radius-s);\n        }\n        .nr-dashboard-theme .nr-dashboard-gauge-titlel {\n            font-weight: var(--font-weight-l) !important;      \n        }\n        .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n            font-weight: var(--font-weight-l);  \n            text-transform: capitalize;\n            color: var(--on-background);\n        }\n        .nr-dashboard-cardpanel > p {\n            margin-left: 0;\n            padding-left: 16px;\n        }\n        body.nr-dashboard-theme md-toolbar {\n            background-color: var(--surface);\n        }\n        .md-default-theme .md-datepicker-calendar, .md-datepicker-calendar,\n        .md-default-theme .md-calendar, .md-calendar{\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .md-default-theme .md-datepicker-calendar-pane, .md-datepicker-calendar-pane{\n            border: 0;\n        }\n        .md-default-theme .md-calendar-month-label md-icon, .md-calendar-month-label md-icon, .md-default-theme .md-datepicker-input, .md-datepicker-input {\n            color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-numeric .value {\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown .md-select-icon {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker md-input-container .md-input {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker .md-datepicker-triangle-button .md-datepicker-expand-triangle {\n            border-top-color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-sidenav {\n            background-color: var(--surface);\n        }\n        md-list-item._md-button-wrap > div.md-button:first-child, md-list-item .md-list-item-inner {\n            background-color: var(--surface);\n        }\n    </style>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":540,"y":1420,"wires":[[]],"icon":"node-red-dashboard/ui_colour_picker.png","info":"# Modern Dark Theme for node-red-dashboard\n\nInspired by Victor Lucachi with his [Node Red Dashboard Concept](https://dribbble.com/shots/10356530-Node-Red-Dashboard-Concept) on Dribbble. Thank you for your work.\n\n## Customize\n\n1. Go on dashboard customisation tab (At the right of Debug Console).\n2. Select the style `Dark`.\n3. Pick the color you want. Example `#66B5F8`\n\n## Buttons\n\nUse `2x2` size for buttons with icon and text on the screenshot"},{"id":"4274efa3.4ff33","type":"function","z":"5c485206.6469dc","name":"","func":"var kelvin = msg.payload;\nvar celsius = kelvin - 273.15;\n\nmsg.payload = celsius;\nmsg.topic = \"DewPoint\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":940,"wires":[["35f0202e.04785","1a72eb84.bdbf34"]]},{"id":"aa411a80.6bf8c8","type":"ui_chart","z":"5c485206.6469dc","name":"","group":"eacb1816.caf9f8","order":2,"width":"8","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1200","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1590,"y":960,"wires":[[]]},{"id":"18831a36.bb1e76","type":"mqtt-broker","name":"Arduino","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"44fc0d6f.e1e8f4","type":"mongodb2","uri":"mongodb://localhost:27017/iot","name":"","options":"","parallelism":"-1"},{"id":"973e8475.1585d8","type":"ui_group","name":"Comfort Degree","tab":"85bd423d.3527b","order":2,"disp":true,"width":"8","collapse":false},{"id":"eacb1816.caf9f8","type":"ui_group","name":"Indoor Air Quality","tab":"85bd423d.3527b","order":3,"disp":true,"width":"8","collapse":false},{"id":"2f508f00.d381","type":"ui_group","name":"lightStatus","tab":"85bd423d.3527b","order":4,"disp":true,"width":"6","collapse":false},{"id":"14b087eb.99afd8","type":"ui_group","name":"soundStatus","tab":"85bd423d.3527b","order":5,"disp":true,"width":"6","collapse":false},{"id":"3e5b6beb.c8fb74","type":"ui_group","name":"Room Location","tab":"85bd423d.3527b","order":1,"disp":true,"width":"12","collapse":false},{"id":"2a745e6b.07df92","type":"ui_group","name":"Default","tab":"e63bce2d.68925","order":5,"disp":true,"width":"6","collapse":true},{"id":"85bd423d.3527b","type":"ui_tab","name":"Room Status","icon":"dashboard","disabled":false,"hidden":false},{"id":"e63bce2d.68925","type":"ui_tab","name":"Denon","icon":"dashboard","order":2,"disabled":false,"hidden":false}]