FrontEndIoT.json
[{"id":"402c1196.c2dcc","type":"http in","z":"f9c71afc.080bd8","name":"","url":"/api/lg1","method":"get","upload":false,"swaggerDoc":"","x":770,"y":320,"wires":[["1e34f0d1.17252f"]]},{"id":"6516be7e.60732","type":"http response","z":"f9c71afc.080bd8","name":"","statusCode":"","headers":{},"x":1710,"y":320,"wires":[]},{"id":"723c315b.c99dc","type":"http in","z":"f9c71afc.080bd8","name":"","url":"/api/co2","method":"get","upload":false,"swaggerDoc":"","x":770,"y":380,"wires":[["9ff87e68.794cd"]]},{"id":"28a36506.41a18a","type":"http response","z":"f9c71afc.080bd8","name":"","statusCode":"","headers":{},"x":1710,"y":380,"wires":[]},{"id":"6b4d8d44.b08bb4","type":"http in","z":"f9c71afc.080bd8","name":"","url":"/api/humidex","method":"get","upload":false,"swaggerDoc":"","x":760,"y":440,"wires":[["f09681ff.c97b8"]]},{"id":"2aec4fc5.76d66","type":"http response","z":"f9c71afc.080bd8","name":"","statusCode":"","headers":{},"x":1710,"y":440,"wires":[]},{"id":"ba008944.3f96a8","type":"http in","z":"f9c71afc.080bd8","name":"","url":"/api/sound","method":"get","upload":false,"swaggerDoc":"","x":760,"y":500,"wires":[["3b035f14.8d883"]]},{"id":"bcfd81af.97c3f","type":"http response","z":"f9c71afc.080bd8","name":"","statusCode":"","headers":{},"x":1710,"y":500,"wires":[]},{"id":"76023144.4b306","type":"http in","z":"f9c71afc.080bd8","name":"","url":"/api/temp","method":"get","upload":false,"swaggerDoc":"","x":770,"y":560,"wires":[["c2a37577.e105a8"]]},{"id":"f9109f4a.a614","type":"http response","z":"f9c71afc.080bd8","name":"","statusCode":"","headers":{},"x":1710,"y":560,"wires":[]},{"id":"3055676a.9e76b8","type":"http in","z":"f9c71afc.080bd8","name":"","url":"/api/coziness","method":"get","upload":false,"swaggerDoc":"","x":750,"y":620,"wires":[["dff5c84c.cb47c8"]]},{"id":"928648ae.310a78","type":"http response","z":"f9c71afc.080bd8","name":"","statusCode":"","headers":{},"x":1710,"y":620,"wires":[]},{"id":"9444497a.69bcb8","type":"ui_button","z":"f9c71afc.080bd8","name":"Button","group":"db74a527.062e78","order":2,"width":"24","height":"1","passthru":false,"label":"Get The Latest Data","tooltip":"","color":"","bgcolor":"","icon":"get_app","payload":"","payloadType":"date","topic":"","x":750,"y":920,"wires":[["81e5e38c.eff1c","1a02e57e.18e6bb","d17765cc.289d38","46d4b91b.fbe388","ac2bd277.645ef","bc2676f3.1943f8"]]},{"id":"81e5e38c.eff1c","type":"http request","z":"f9c71afc.080bd8","name":"light","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/api/lg1","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":740,"wires":[["d590aa6a.ea9b88","12d4c2f6.e448dd"]]},{"id":"d590aa6a.ea9b88","type":"ui_gauge","z":"f9c71afc.080bd8","name":"lightGauge","group":"c3c709cd.5bbc78","order":1,"width":"8","height":"5","gtype":"compass","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1160,"y":740,"wires":[]},{"id":"1e34f0d1.17252f","type":"mongodb2 in","z":"f9c71afc.080bd8","service":"_ext_","configNode":"44fc0d6f.e1e8f4","name":"","collection":"sensor1","operation":"find.toArray","x":1150,"y":320,"wires":[["833b7709.f65cb8"]]},{"id":"833b7709.f65cb8","type":"function","z":"f9c71afc.080bd8","name":"","func":"var msg2=msg;\nmsg2.payload=msg2.payload[msg2.payload.length-1].light;\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":320,"wires":[["6516be7e.60732"]]},{"id":"92f0aa5a.663fe8","type":"function","z":"f9c71afc.080bd8","name":"","func":"var msg2=msg;\nmsg2.payload=msg2.payload[msg2.payload.length-1].co2;\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":380,"wires":[["28a36506.41a18a"]]},{"id":"7d044ed9.37f2d","type":"function","z":"f9c71afc.080bd8","name":"","func":"var msg2=msg;\nmsg2.payload=msg2.payload[msg2.payload.length-1].humidex;\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":440,"wires":[["2aec4fc5.76d66"]]},{"id":"d7c86070.a21dc","type":"function","z":"f9c71afc.080bd8","name":"","func":"var msg2=msg;\nmsg2.payload=msg2.payload[msg2.payload.length-1].sound;\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":500,"wires":[["bcfd81af.97c3f"]]},{"id":"738241b3.28f25","type":"function","z":"f9c71afc.080bd8","name":"","func":"var msg2=msg;\nmsg2.payload=msg2.payload[msg2.payload.length-1].temp;\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":560,"wires":[["f9109f4a.a614"]]},{"id":"8bb30c60.674c3","type":"function","z":"f9c71afc.080bd8","name":"","func":"var msg2=msg;\nmsg2.payload=msg2.payload[msg2.payload.length-1].coziness;\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":620,"wires":[["928648ae.310a78"]]},{"id":"9ff87e68.794cd","type":"mongodb2 in","z":"f9c71afc.080bd8","service":"_ext_","configNode":"44fc0d6f.e1e8f4","name":"","collection":"sensor1","operation":"find.toArray","x":1150,"y":380,"wires":[["92f0aa5a.663fe8"]]},{"id":"f09681ff.c97b8","type":"mongodb2 in","z":"f9c71afc.080bd8","service":"_ext_","configNode":"44fc0d6f.e1e8f4","name":"","collection":"sensor1","operation":"find.toArray","x":1150,"y":440,"wires":[["7d044ed9.37f2d"]]},{"id":"3b035f14.8d883","type":"mongodb2 in","z":"f9c71afc.080bd8","service":"_ext_","configNode":"44fc0d6f.e1e8f4","name":"","collection":"sensor1","operation":"find.toArray","x":1150,"y":500,"wires":[["d7c86070.a21dc"]]},{"id":"c2a37577.e105a8","type":"mongodb2 in","z":"f9c71afc.080bd8","service":"_ext_","configNode":"44fc0d6f.e1e8f4","name":"","collection":"sensor1","operation":"find.toArray","x":1150,"y":560,"wires":[["738241b3.28f25"]]},{"id":"dff5c84c.cb47c8","type":"mongodb2 in","z":"f9c71afc.080bd8","service":"_ext_","configNode":"44fc0d6f.e1e8f4","name":"","collection":"sensor1","operation":"find.toArray","x":1150,"y":620,"wires":[["8bb30c60.674c3"]]},{"id":"1a02e57e.18e6bb","type":"http request","z":"f9c71afc.080bd8","name":"co2","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/api/co2","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":880,"wires":[["2c695437.4eaefc","97786549.c816f8","dcbd190e.781098"]]},{"id":"d17765cc.289d38","type":"http request","z":"f9c71afc.080bd8","name":"humidex","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/api/humidex","tls":"","persist":false,"proxy":"","authType":"","x":980,"y":1020,"wires":[["ecc356e2.a01cc8","776e0f5b.61566"]]},{"id":"46d4b91b.fbe388","type":"http request","z":"f9c71afc.080bd8","name":"sound","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/api/sound","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":1220,"wires":[["7c06a084.ed625","2c58319c.28398e"]]},{"id":"ac2bd277.645ef","type":"http request","z":"f9c71afc.080bd8","name":"temp","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/api/temp","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":1140,"wires":[["2f32c77c.8b6468"]]},{"id":"bc2676f3.1943f8","type":"http request","z":"f9c71afc.080bd8","name":"coziness","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/api/coziness","tls":"","persist":false,"proxy":"","authType":"","x":940,"y":1340,"wires":[["b673d2cc.4bf0c"]]},{"id":"7c06a084.ed625","type":"ui_gauge","z":"f9c71afc.080bd8","name":"soundGauge","group":"87b7cd8c.48a6b","order":1,"width":0,"height":0,"gtype":"gage","title":"Sound Value","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":1190,"y":1220,"wires":[]},{"id":"2c695437.4eaefc","type":"ui_gauge","z":"f9c71afc.080bd8","d":true,"name":"co2Gauge","group":"ff7020f0.aae0d","order":3,"width":0,"height":0,"gtype":"gage","title":"CO2 Level (ppm)","label":"units","format":"{{value}}","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"600","seg2":"1000","x":1170,"y":860,"wires":[]},{"id":"a2ff7b41.840c48","type":"ui_gauge","z":"f9c71afc.080bd8","name":"humidexGauge","group":"aa7e7a73.823f48","order":1,"width":"10","height":"7","gtype":"gage","title":"HumidexValue","label":"units","format":"{{value}}","min":0,"max":"54","colors":["#00b500","#e6e600","#ca3838"],"seg1":"29","seg2":"39","x":1320,"y":1020,"wires":[]},{"id":"2f32c77c.8b6468","type":"ui_text","z":"f9c71afc.080bd8","group":"aa7e7a73.823f48","order":2,"width":0,"height":0,"name":"","label":"Room Temperature","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":1140,"wires":[]},{"id":"632fb163.addb","type":"ui_gauge","z":"f9c71afc.080bd8","name":"cozinessGauge","group":"f66a5d8b.c48a4","order":1,"width":"14","height":"8","gtype":"donut","title":"gauge","label":"units","format":"{{value}}","min":"5.73","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"41.65","seg2":"48.15","x":1280,"y":1340,"wires":[]},{"id":"ecc356e2.a01cc8","type":"function","z":"f9c71afc.080bd8","name":"flooring","func":"var flooring = msg.payload;\nmsg.payload = Math.floor(flooring);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1020,"wires":[["a2ff7b41.840c48"]]},{"id":"b673d2cc.4bf0c","type":"function","z":"f9c71afc.080bd8","name":"rounding","func":"var rounding = msg.payload;\nvar rounded;\nrounded = (Math.round(rounding * 100) / 100).toFixed(2);\nmsg.payload = rounded;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":1340,"wires":[["632fb163.addb","19c41321.f8b7bd"]]},{"id":"776e0f5b.61566","type":"function","z":"f9c71afc.080bd8","name":"ComfortDegreeClassification","func":"var HumidexValue = msg.payload;\nvar ComfortDegree=\"NothingToDisplay\";\n\nif (HumidexValue < 15) {\n  ComfortDegree=\"Feeling cool or cold\";\n} else if (HumidexValue >= 15 && HumidexValue <= 19) {\n  ComfortDegree=\"No discomfort\";\n} else if (HumidexValue > 19 && HumidexValue <= 29) {\n  ComfortDegree=\"Feeling of well-being\";\n} else if (HumidexValue > 29 && HumidexValue <= 34) {\n  ComfortDegree=\"Feeling of greater or lesser discomfort\";\n} else if (HumidexValue > 34 && HumidexValue <= 39) {\n  ComfortDegree=\"Rather great feeling of discomfort.\";\n} else if (HumidexValue > 39 && HumidexValue <= 45) {\n  ComfortDegree=\"Generalized feeling of discomfort.\";\n} else if (HumidexValue > 45 && HumidexValue <= 53) {\n  ComfortDegree=\"Extreme danger\";\n} else if (HumidexValue > 53){\n  ComfortDegree=\"Imminent heat stroke\";\n}\n\nmsg.payload = ComfortDegree;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":1080,"wires":[["32f6e4a7.e31fac"]]},{"id":"32f6e4a7.e31fac","type":"ui_text","z":"f9c71afc.080bd8","group":"aa7e7a73.823f48","order":3,"width":0,"height":0,"name":"ComfortDegreeStatus","label":"Comfort Degree","format":"{{msg.payload}}","layout":"row-spread","x":1500,"y":1080,"wires":[]},{"id":"c86bc3a9.8a4fc","type":"function","z":"f9c71afc.080bd8","name":"CozinessDegreeClassification","func":"var CozinessValue = msg.payload;\nvar Coziness=\"NothingToDisplay\";\n\nif (CozinessValue < 5.73) {\n  Coziness=\"Low Coziness Degree - Feeling cold, Bad Air Quality, Dark\";\n} else if (CozinessValue >= 5.73 && CozinessValue <= 41.65) {\n  Coziness=\"High Coziness Degree - Feeling of well-being, High Air Quality, Light, Tolerable Noise\";\n} else if (CozinessValue > 41.65 && CozinessValue <= 48.15) {\n  Coziness=\"Medium Coziness Degree – Slight Feeling of Discomfort, Very Light, Noisy\";\n} else if (CozinessValue > 48.15){\n  Coziness=\"Low Coziness Degree - Great feeling of Discomfort, Annoying Light, Very Noisy\";\n}\n\nmsg.payload = Coziness;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":1420,"wires":[["c1e1c896.7d39e8"]]},{"id":"c1e1c896.7d39e8","type":"ui_text","z":"f9c71afc.080bd8","group":"f66a5d8b.c48a4","order":2,"width":0,"height":0,"name":"CozinessStatus","label":"Coziness Degree","format":"{{msg.payload}}","layout":"row-spread","x":1680,"y":1420,"wires":[]},{"id":"19c41321.f8b7bd","type":"function","z":"f9c71afc.080bd8","name":"toInt","func":"var parsed = parseInt(msg.payload, 10);\nmsg.payload = parsed;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":1420,"wires":[["c86bc3a9.8a4fc"]]},{"id":"12d4c2f6.e448dd","type":"function","z":"f9c71afc.080bd8","name":"lightClassification","func":"var lightValue = msg.payload;\nvar lightStatus = \"NothingToDisplay\";\n\nif (lightValue < 100) {\n  lightStatus=\"Bright\";\n} else if (lightValue >= 100 && lightValue <= 1000) {\n  lightStatus=\"Dark\";\n} else {\n  lightStatus=\"NoLight\";\n}\n\nmsg.payload = lightStatus;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":800,"wires":[["85dcb0fb.b64d2"]]},{"id":"85dcb0fb.b64d2","type":"ui_text","z":"f9c71afc.080bd8","group":"c3c709cd.5bbc78","order":1,"width":0,"height":0,"name":"lightStatus","label":"Light Status","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":800,"wires":[]},{"id":"2c58319c.28398e","type":"function","z":"f9c71afc.080bd8","name":"lightStatusClassification","func":"var soundValue = msg.payload;\nvar soundStatus = \"NothingToDisplay\";\n\nif (soundValue < 80) {\n  soundStatus=\"NoRisk\";\n} else if (soundValue >= 80 && soundValue <= 90) {\n  soundStatus=\"HarmfulnessThreshold\";\n} else if (soundValue > 90 && soundValue <= 120) {\n  soundStatus=\"HarmfulSound\";\n} else {\n  soundStatus=\"IrreversibleDamage\";\n}\n\nmsg.payload = soundStatus;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1280,"wires":[["cf89ca5f.5eaa98"]]},{"id":"cf89ca5f.5eaa98","type":"ui_text","z":"f9c71afc.080bd8","group":"87b7cd8c.48a6b","order":1,"width":0,"height":0,"name":"soundStatus","label":"Sound Status","format":"{{msg.payload}}","layout":"row-spread","x":1390,"y":1280,"wires":[],"icon":"font-awesome/fa-assistive-listening-systems"},{"id":"97786549.c816f8","type":"function","z":"f9c71afc.080bd8","name":"AirQualityClassification","func":"var CO2Level = msg.payload;\nvar IDACat=\"NothingToDisplay\";\n\nif (CO2Level < 400) {\n  IDACat=\"High indoor Air Quality\";\n} else if (CO2Level >= 400 && CO2Level <= 600) {\n  IDACat=\"Medium indoor Air Quality\";\n} else if (CO2Level > 600 && CO2Level <= 1000) {\n  IDACat=\"Moderate indoor Air Quality\";\n} else {\n  IDACat=\"Low indoor Air Quality\";\n}\n\nmsg.payload = IDACat;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":940,"wires":[["150ed09a.d6afef"]]},{"id":"150ed09a.d6afef","type":"ui_text","z":"f9c71afc.080bd8","group":"ff7020f0.aae0d","order":2,"width":0,"height":0,"name":"airQualityStatus","label":"Air Quality Status","format":"{{msg.payload}}","layout":"row-spread","x":1340,"y":940,"wires":[]},{"id":"dcbd190e.781098","type":"ui_chart","z":"f9c71afc.080bd8","name":"","group":"ff7020f0.aae0d","order":1,"width":0,"height":0,"label":"CO2 Level (ppm)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1200","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1380,"y":860,"wires":[[]]},{"id":"4308cf7e.7ddcb","type":"ui_table","z":"f9c71afc.080bd8","group":"80f8eb2f.bdad98","name":"","order":0,"width":"24","height":"12","columns":[],"outputs":0,"cts":false,"x":2150,"y":1000,"wires":[]},{"id":"adc2d41d.3bffc8","type":"mongodb2 in","z":"f9c71afc.080bd8","service":"_ext_","configNode":"44fc0d6f.e1e8f4","name":"","collection":"sensor1","operation":"find.toArray","x":1150,"y":680,"wires":[["67769315.8d72ac"]]},{"id":"fa5dfdf7.de3eb","type":"http in","z":"f9c71afc.080bd8","name":"","url":"/api/all","method":"get","upload":false,"swaggerDoc":"","x":750,"y":680,"wires":[["adc2d41d.3bffc8"]]},{"id":"67769315.8d72ac","type":"http response","z":"f9c71afc.080bd8","name":"","statusCode":"","headers":{},"x":1470,"y":680,"wires":[]},{"id":"829ac055.67f12","type":"http request","z":"f9c71afc.080bd8","name":"light","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/api/all","tls":"","persist":false,"proxy":"","authType":"","x":1690,"y":1000,"wires":[["c40c70a6.4d53d","5ccf49f8.2648a8","63a97666.b69b18"]]},{"id":"5e6b8ca5.d18ea4","type":"ui_button","z":"f9c71afc.080bd8","name":"Button","group":"80f8eb2f.bdad98","order":2,"width":"6","height":"1","passthru":false,"label":"Get The Latest Data","tooltip":"","color":"","bgcolor":"","icon":"get_app","payload":"","payloadType":"date","topic":"","x":1550,"y":1000,"wires":[["829ac055.67f12"]]},{"id":"63a97666.b69b18","type":"json","z":"f9c71afc.080bd8","name":"","property":"payload","action":"","pretty":false,"x":1990,"y":1000,"wires":[["4308cf7e.7ddcb","6ed50355.2caeec"]]},{"id":"c40c70a6.4d53d","type":"function","z":"f9c71afc.080bd8","d":true,"name":"","func":"var test=msg;\n\nfor(var i=0;i<test.payload.length;i++){\n    test.payload[i].time=test.payload[i].time;\n    test.payload[i].DewPoint=msg.payload[i].DewPoint;\n    test.payload[i].co2=msg.payload[i].co2;\n    test.payload[i].humidex=msg.payload[i].humidex;\n    test.payload[i].sound=msg.payload[i].sound;\n    test.payload[i].temp=msg.payload[i].temp;\n    test.payload[i].light=msg.payload[i].light;\n    test.payload[i].coziness=msg.payload[i].coziness;\n}\nmsg.payload = test;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1840,"y":1120,"wires":[["63a97666.b69b18"]]},{"id":"6ed50355.2caeec","type":"debug","z":"f9c71afc.080bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2140,"y":1120,"wires":[]},{"id":"5ccf49f8.2648a8","type":"debug","z":"f9c71afc.080bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1850,"y":920,"wires":[]},{"id":"db74a527.062e78","type":"ui_group","name":"Button","tab":"b943e563.a1a308","order":1,"disp":false,"width":"24","collapse":false},{"id":"c3c709cd.5bbc78","type":"ui_group","name":"Light","tab":"b943e563.a1a308","order":4,"disp":true,"width":"8","collapse":true},{"id":"44fc0d6f.e1e8f4","type":"mongodb2","uri":"mongodb://localhost:27017/iot","name":"","options":"","parallelism":"-1"},{"id":"87b7cd8c.48a6b","type":"ui_group","name":"sound","tab":"b943e563.a1a308","order":6,"disp":true,"width":"8","collapse":true},{"id":"ff7020f0.aae0d","type":"ui_group","name":"Air Quality","tab":"b943e563.a1a308","order":5,"disp":true,"width":"8","collapse":true},{"id":"aa7e7a73.823f48","type":"ui_group","name":"humidex","tab":"b943e563.a1a308","order":3,"disp":true,"width":"10","collapse":false},{"id":"f66a5d8b.c48a4","type":"ui_group","name":"coziness","tab":"b943e563.a1a308","order":2,"disp":true,"width":"14","collapse":false},{"id":"80f8eb2f.bdad98","type":"ui_group","name":"Chart","tab":"b943e563.a1a308","order":7,"disp":false,"width":"24","collapse":false},{"id":"b943e563.a1a308","type":"ui_tab","name":"Room Coziness","icon":"dashboard","disabled":false,"hidden":false}]